div .btn.download {
    background-color: #44c767;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    margin: 35px 0;
    padding: 7px 37px;
    text-decoration: none;
    text-shadow: 0 1px 0 #2f6627;
    font-size: 30px;
}
.showOnIOS{
    display: none;
}

.btn:hover {
    background-color: #5cbf2a;
}

.btn:active {
    position: relative;
    top: 1px;
}

.actColor {
    background-color: #ff0000;
    border-radius: 7px
}

.center {
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.forkMeOnGithub {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.forkMeOnGithub img {
    width: 180px;

}
